# Python Distribution Package Requirements for Dropcam.
#
# Source:: https://github.com/ampledata/dropcam
# Author:: Greg Albrecht <gba@onbeep.com>
# Copyright:: Copyright 2014 OnBeep, Inc.
# License:: Apache License, Version 2.0


flake8
clonedigger
coverage
mock
nose
pylint
pep8
